<a href="https://colab.research.google.com/github/sarthak0417/PYTHON/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
def add_details(n):
 fobj = open("details.txt","a")
 for i in range(n):
  student_name = input("Enter student name : ")
  semester = str(int(input("Enter semester : ")))
  marks1 = str(int(input("Enter subject1 marks : ")))
  marks2 = str(int(input("Enter subject2 marks : ")))
  marks3 = str(79int(input("Enter subject3 marks : ")))
  fobj.write(student_name + " " + semester + " " + marks1 + " " + marks2 + " " + marks3)
 fobj.close()
ns = int(input("Enter number of students : "))
add_details(ns)

Enter number of students : 5
Enter student name : sarthak
Enter semester : 2
Enter subject1 marks : 89
Enter subject2 marks : 99
Enter subject3 marks : 72
Enter student name : ayush
Enter semester : 3
Enter subject1 marks : 88
Enter subject2 marks : 8
Enter subject3 marks : 4
Enter student name : aman
Enter semester : 1
Enter subject1 marks : 77
Enter subject2 marks : 61
Enter subject3 marks : 22
Enter student name : aarav
Enter semester : 2
Enter subject1 marks : 78
Enter subject2 marks : 89
Enter subject3 marks : 91
Enter student name : nidhi
Enter semester : 6
Enter subject1 marks : 78
Enter subject2 marks : 12
Enter subject3 marks : 99